<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Diese Homepage hilft Ihnen, RCPSP Projekte zu planen.   <br>
  Geben sie ganz einfach Ihre Daten ein, die Homepage erledigt den Rest für Sie.
  Dank präzieser GAMS Berechnungen sind Ihre Lösungen optimal. Garantiert.   <br>
  Bei Fragen wendens Sie sich bitte direkt an uns, auf der Contact Seite finden Sie unsere Email Adressen.
  Wir hoffen, dass Ihnen diese Seite hilft und Ihre Planung und Berechnungen unterstützen kann.
  <br>
  <br>
  <br>
  Mit freundlichen Grüßen <br>
  Bormann und Hoffmann
</p>