<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>

  Luise-Sopie  <a href="https://www.facebook.com/MissPrinzessin?fref=ts"> Hoffmann</a>. <br>
  Hufelandstraße 16          <br>
  30453 Hannover       <br>
  luise.sophie.hoffmann@prod.uni-hannover.de       <br>
  <br> <br>


  Carolina <a href="https://www.facebook.com/carolina.b.92"> Bormann</a>.   <br>
  Kötnerholzweg 57  <br>
  30451 Hannover  <br>
  carolina.bormann@hotmail.de            <br>
</p>