<div class="center hero-unit">
 <h1>
    <font color="#F781BE">
    Ihr RCPSP Tool
    </font>
 </h1>

 <h2>
    <font color="#8000FF">
  Hier könnt ihr tolle Berechnungen durchführen
    </font>
 </h2>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>



</div>

<%= link_to image_tag("blume.png", alt: "Rails"), 'http://sprache-der-blumen.de/s' %>


