<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for  @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<% if signed_in? %>
    <p>
      Ressourcen    <br>     <br>

      <%= link_to "update Ressources!", ressources_path %><br>
      <%= link_to "update Jobs!", jobs_path %><br>
    </p>


<% end %>