<footer class="footer">
  <small>

    <font color="#380B61">
    <a href="http://www.prod.uni-hannover.de/sahling.html">RCPSP Homepage</a>
    &copy Lusie-Sophie Hoffmann und Carolina Bormann
    </font>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.prod.uni-hannover.de/sahling.html">News</a></li>
    </ul>
  </nav>
</footer>